
@media print {
    body * {
        visibility: hidden;
    }

    .print-container, .print-container * {
        visibility: visible;
    }

    .print-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    @page {
      size: auto;
      margin: 0.5in;
    }
    
    .print\:block {
      display: block !important;
    }
}

    